.detailsContainer {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  min-width: 100px;
}

.value {
  font-size: 1.3em;
  font-weight: normal;
}

@media screen and (max-width: 900px) {
  .value {
    font-size: 1.2em;
    font-weight: normal;
  }
}