.mainWeatherContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-right: 4em;
  border-right: 3px solid #435dc3;
  padding-bottom: 15px;
}

.mainWeatherContainer > div {
  margin: 20px;
}

.mainWeatherIcon {
  font-size: 8em;
}

.mainWeatherData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dataTemperature {
  font-size: 6.5em;
}

.dataWeather {
  font-size: 1.5em;
}

@media screen and (max-width: 900px) {
  .mainWeatherContainer {
    border-right: none;
    padding: 0 0 1em 0;
  }

  .mainWeatherIcon {
    font-size: 5em;
  }

  .dataTemperature {
    font-size: 3.5em;
  }
  
  .dataWeather {
    font-size: 1em;
  }
}